body {
    background-color: teal;
    margin-left: 10px;
}


/*classes*/
.sectionHeader {
    display: flex;
    direction: row;
    align-item: start;
    vertical-align: middle;
    text-align: flex-start;
    justify-content: space-around;
    font-size: 28px;
 
}

.columnLayout {
    display: flex;
    direction: row;
    /*align-items: start;
    justify-content: flex-end;*/
}

.headerBtnCart {
    display: flex;
    direction: row;
    justify-content: flex-end;
}

#btnCart {
  display: inline-block;
  font-size: 24px;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  background-color: green;
  border: 1.5px white;
  border-style: solid;
  outline: none;
  color: #000000;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  
  
}

.sidebarFoodSection {
    display: flex;
    flex-direction: column;
    flex: 2;
    border: 1.5px #888f91;
    border-style: solid;
    align-items: flex-start;
    
}

/*.foodSectionList {
    display: flex;
    direction: column;
   flex: 2;
}*/

.foodSectionItem {
    display: flex;
    direction: row;
    background: tomato;
    padding: 5px;
    width: 220px;
    height: 50px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    justify-content: flex-start;
  }

.mainGrocerySection {
    display: flex;
    direction: column;
    flex: 3;
    border: 1.0px #888f91;
    border-style: solid;
}
/*.grocerySectionList {
    display: flex;
    direction: column;
   flex: 2;
}*/

.groupContainer {
  display: flex;
    direction: row;
    flex: 2;
    flex-flow: row wrap;
}
.groupProduceItems {
  display: flex;
    direction: column;
    flex: 1;
}
.groupDeliItems {
   display: flex;
    direction: column;
    flex: 1;
}
.groupFrozenItems {
   display: flex;
    direction: column;
    flex: 1;
}

.grocerySectionColumn {
    display: flex;
    direction: column;
   flex: 1;
   font-family: Georgia, serif;
}

.groceryListItem {
    display: flex;
    direction: row;
    background: tomato;
    padding: 5px;
    width: 175px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

.groceryItemPrice {
    display: flex;
    direction: row;
    background: tomato;
    padding: 5px;
    width: 110px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 50px;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.groceryItemAddToCart {

}
/*Styles for id'd elements in index.html*/

#header {
    font-family: Georgia, serif;
    color: darkred;
}

#content {
    font-family: Georgia, serif;
    color: darkred;
    background-color: #cdf1c3;
    margin-top: 5;
    margin-right: 5;
    margin-bottom: 5;
    margin-left: 5;

}

#foodSections {
    font-family: Georgia, serif;
    color: darkred;
    background-color: #dbd6d6;
}

#groceryList {
    font-family: Georgia, serif;
    color: darkred;
    background-color: #c0dbe2;
}

#btnAddToCart {
    display: flex;
    direction: column;
    font-family: Georgia, serif;
  font-size: 18px;
  border-radius: 50px;
  width: 120px;
  height: 50px;
  margin-top: 20px;
    margin-bottom: 10px;
  background-color: green;
  border: 1.5px white;
  border-style: solid;
  outline: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  
}